.about-page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(90deg, rgba(169,169,169,1) 5%, rgb(255, 239, 186) 62%, rgba(245,245,245,1) 100%);
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.background-section-text-center{
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: rtl;
}


.about-registration{
  margin-top: 50px;
  max-width: 800px;
  text-align: center;
  direction: rtl;
}


.about-description{
  margin-top: 30px;
  text-align: center;
  max-width: 800px;
  margin-bottom: 60px;

}

.about-title {
  margin-top: 150px;
  max-width: 800px;
  padding: 0 20px;
  text-align: center;
  direction: rtl;
}

.about-title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #444;
  direction: rtl;
}

.about-registration {
  font-size: 1.5em;
  color: #666;
  margin-bottom: 10px;
  font-weight: bold;
  direction: rtl;
}

.about-description {
  
  font-size: 1.5em;
  line-height: 1.6;
  color: #555;
  direction: rtl;
}

.section {
  padding: 20px 0;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  direction: rtl;
}

.section h2 {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 10px;
  direction: rtl;
}

.section p {
  font-size: 1.2em;
  color: #555;
  line-height: 1.6;
  margin: 0 auto;
  direction: rtl;
}

.video-section {
  padding: 40px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.initiatives-section {
  padding: 40px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  width: calc(33.333% - 40px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  margin: 10px;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.card-content h3 {
  margin-top: 15px;
  font-size: 1.6em;
}

.card-content p {
  font-size: 1.2em;
  margin: 10px 0;
}

.card-content a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
  direction: rtl;
}



.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
  .card {
    width: calc(50% - 40px);
  }
}

@media (max-width: 768px) {
  .card {
    width: calc(100% - 40px);
  }
}

@media (max-width: 480px) {
  .about-title {
    font-size: 1.5em;
  }

  .about-description {
    font-size: 1em;
  }

  .section h2 {
    font-size: 1.2em;
  }

  .section p {
    font-size: 0.9em;
  }

  .cards-container {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 100%;
    margin: 10px 0;
  }

  .video-section iframe {
    width: 100%;
    height: auto;
  }
}
