.about-page {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh; /* Ensure it takes up at least the full viewport height */
  background: rgb(169,169,169);
  background: linear-gradient(90deg, rgba(169,169,169,1) 5%, rgba(249,218,120,1) 62%, rgba(245,245,245,1) 100%);
  background-attachment: fixed; /* This ensures the background doesn't scroll */
}
.background-section, .video-section, .initiatives-section {
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
}

.background-overlay {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.about-title {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 10px;
  color: #444;
}

.about-subtitle {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 20px;
}

.about-registration {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 10px;
  font-weight: bold;
}

.about-description {
  font-size: 1.1em;
  line-height: 1.6;
  color: #555;
  max-width: 600px;
  margin: 0 auto;
  font-weight: bold; /* Makes the text bold */
}





.video-container {
  max-width: 560px;
  width: 100%;
  text-align: center;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: rgba(255, 255, 255, 0.9); /* Make cards slightly more opaque */
  padding: 20px;
  border-radius: 10px;
  width: 22%;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.card-content h3, .card-content p, .card-content a {
  margin: 10px 0;
}

.card-content a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
