.about-page {
  font-family: Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  width: 100%;
}

.background-section {
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 30%, rgba(249, 218, 120, 1) 70%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
  height: 50vh;
  width: 100vw;
  margin-bottom: 50px;
  padding: 20px;
}

.background-overlay {
  background: rgba(255, 255, 255, 0.8); /* Light overlay for readability */
  padding: 20px;
  border-radius: 10px;
}

.background-overlay h1, .background-overlay p {
  margin: 10px 0;
  color: #333;
}

.video-section, .initiatives-section {
  padding: 40px 20px;
}

.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  width: 22%;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.card-content h3, .card-content p, .card-content a {
  margin: 10px 0;
}

.card-content a {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}
