.modal-dialog {
    margin: 1.75rem auto;
    max-width: 400px;
    

}

.modal-content {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #909188;
    overflow: hidden;
}




.modal-header {
    background-color: #1b1b1a;
    color: white;
    border-bottom: 1px solid white;
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.modal-header .close {
    padding: 0.5rem;
    margin: -0.5rem -0.5rem -0.5rem auto;
    color: white;
}

.modal-title {
    flex: 1;
    text-align: right;
    margin-right: 10px;
    font-size: 1.25rem;
}

.modal-body {
    padding: 1rem;
    color: #333;
    font-size: 0.9rem;
}

.modal-footer {
    background-color: #f8f9fa;
    padding: 0.75rem 1rem;
    border-top: 1px solid #5595d5;
}

.modal-footer button {
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
}

.modal-body .col-12 img {
    border-radius: 4px;
    margin-bottom: 1rem;
    max-height: 200px;
    object-fit: cover;
    width: 100%;
}

.form-control {
    font-size: 0.9rem;
}

.form-group {
    margin-bottom: 0.75rem;
}

.text-danger {
    color: #dc3545;
    font-size: 0.8rem;
    margin-top: 0.25rem;
}