html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.footer {
  background-color: #000000d3;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 5px 0;
  box-shadow: 0 -2px 5px rgba(37, 36, 36, 0.421);
  box-sizing: border-box;
  position: relative; /* Default position */
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.footer p {
  margin: 0;
  padding: 0 5px;
  white-space: nowrap;
}

.footer .contact-item {
  display: flex;
  align-items: center;
  gap: 5px; /* Space between icon and text */
}

.footer .contact-item .MuiIconButton-root {
  color: rgb(255, 255, 255);
  padding: 0;
  transition: color 0.3s;
}

.footer .contact-item .MuiIconButton-root:hover {
  color: #f9db78;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
  }

  .footer p,
  .footer .contact-item {
    font-size: 0.875rem;
  }

  .footer .contact-item {
    justify-content: center;
  }
}
