
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #F9DA78;
    color: black;
    text-align: center;
    padding: 10px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .footer p {
    margin: 5px 0;
  }
  
  .social-media {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
  }
  
  .social-media img {
    width: 24px;
    height: 24px;
  }
  