.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50%;
  width: 100%;
  padding: 2rem;
}

.body{
  background-color: white;

}



.form-label{
  direction: ltr;
}

.login-page{
  height: 50%;
}


.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 8px;
  margin-top: 70px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  padding: 2rem;
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  max-width: 120px;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  object-fit: contain;
}

.title {
  color: #F9DA78;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.login-form {
  width: 100%;
}

.form-group {
  margin-bottom: 1.5rem;
}

.form-label {
  display: block;
  text-align: right;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #000000;
}

.form-input-group {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 0.5rem;
}

.form-input {
  flex-grow: 1;
  border: none;
  background: transparent;
  padding: 5px;
  direction: rtl;
}

.icon {
  margin-right:10px;
  width: 20px;
  height: 20px;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #000000;
}

.register-link {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: #010100ed;
  text-decoration: none;
  font-size: 0.9rem;
  margin-right: 100px;
  left: 50px;
  position: relative;
  background-color: rgb(252, 236, 184);

}

.google-login {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.error-message {
  color: #ff0000;
  text-align: center ;
  margin-top: 0.5rem;
  margin-right: 50rem;
  position: fixed;
}

.already-logged-in {
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.already-logged-in p {
  color: #ff0000;
  margin-bottom: 1rem;
}

.already-logged-in .btn {
  background-color: #010100ed;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary-login-button{
  background-color: #F9DA78;
  margin-right: 150px;
  left: 50px;
  position: relative;

}

@media (max-width: 480px) {
  .main-content {
    padding: 1rem;
  }

  .login-page {
    padding: 1.5rem;
  }

  .form-input-group {
    flex-direction: row-reverse;
  }

  .icon {
    margin-left: 0;
    margin-right: 10px;
  }

  .login-button,
  .register-link {
    font-size: 0.9rem;
  }

  
}