.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 80px; /* Add margin to ensure content doesn't hide behind the footer */
}

.login-header {
  text-align: center;
  margin-bottom: 2rem;
}

.logo {
  max-width: 100px;
  width: 100px;
  height: auto;
  margin-bottom: 1rem;
}

.title {
  color: #010100ed;
  font-size: 2rem;
  font-weight: bold;
}


  .login-form {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }

.form-group {
  margin-bottom: 1.5rem;
}

.form-label {
  display: block;
  text-align: right;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #333;
}

.form-input-group {
  display: flex;
  align-items: center;
  background-color: #F0F0F0;
  border-radius: 4px;
  padding: 0.5rem;
}

.form-input {
  flex-grow: 1;
  border: none;
  background: transparent;
  padding: 0.5rem;
  direction: rtl;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.login-button {
  width: 100%;
  padding: 0.75rem;
  background-color: #010100ed;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #010100ed;
}

.register-link {
  display: block;
  text-align: center;
  margin-top: 1rem;
  color: #010100ed;
  text-decoration: none;
  font-size: 0.9rem;
}

.google-login {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.error-message {
  color: #ff0000;
  text-align: center;
  margin-top: 1rem;
}

.already-logged-in {
  text-align: center;
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.already-logged-in p {
  color: #ff0000;
  margin-bottom: 1rem;
}

.already-logged-in .btn {
  background-color: #010100ed;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 480px) {
  .login-form {
    padding: 1rem;
  }

  .form-input-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .icon {
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .login-button,
  .register-link {
    font-size: 0.9rem;
  }
}