body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  body > .container {
    flex: 1;
    overflow-y: auto;
  }
  
  .centerText {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
  }
  
  .brownText h1 {
    color: #F9DA78;
  }
  
  .borderBox {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .categorySection{
    margin-top: 57px;
  }
  .productImage {
    width: 200px;
    height: 200px;
  }
  
  .carouselControlNextIcon, .carouselControlPrevIcon {
    color: white;
    background-color:  rgba(0, 0, 0, 0.5);
    font-size: 100x;
  }
  
  .donateButton {
    display: block;
    width: auto;
    padding: 10px;
    background-color: #F9DA78;
    color: black;
    font-weight: bold;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .categorySection {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10px;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
  }
  
  .categoryItem {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #ffffff;
  }
  
  .flexSpaceBetween {
    display: flex;
    justify-content: space-between;
  }
  
  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .flexCenterColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .donorSection {
    font-size: 2em;
    color: #F9DA78;
    text-align: center;
  }
  
  .donorInfo {
    font-size: 1em;
    text-align: center;
  }
  
  .donorDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
  }
  
  .donorItem {
    margin: 10px;
  }
  
  .donorImage {
    width: 100px;
    height: 100px;
  }
  
  .donorName {
    font-size: 20px;
    text-align: center;
  }