/* main-page.css */
.centerText {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 60px;
}

.brownText {
    color: brown;
}

.borderBox {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    margin-bottom: 80px;
    background-color: #F0FFFF;
}

.carouselControlNextIcon,
.carouselControlPrevIcon {
    color: black;
    background-color: transparent;
}

.carouselControlIcons:after {
    font-size: 30px;
    color: black;
}

.carouselControlPrevIcon:after {
    content: '<';
    color: black;
    font-size: 50px; 
}

.carouselControlNextIcon:after {
    content: '>';
    color: black;
    font-size: 50px; 
}
.donateButton {
    display: block;
    width: auto;
    padding: 10px;
    background-color: #CD853F;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.categorySection {
    /* border: 1px solid black;
    border-radius: 5px; */
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0FFFF;
    margin-bottom: 80px;
}

.categorySection2 {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0FFFF;
    margin-bottom: 80px;
}

.categoryItem {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 50px;
    background-color: #FFE4E1;
}

.flexSpaceBetween {
    display: flex;
    justify-content: space-between;
}

.flexCenterColumn {
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    width: 45%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0FFFF;
}

.flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.productImage {
    width: 15%;
    margin: 20px;
    border: 2px solid black;
}

.donorSection {
    font-size: 2em;
    color: red;
    text-align: center;
}

.donorInfo {
    font-size: 1em;
    text-align: center;
}

.donorDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.donorItem {
    margin: 20px;
    flex: 0 0 auto;
}

.donorImage {
    width: 100px;
    height: 100px;
}

.donorName {
    font-size: 20px;
    text-align: center;
}