.App{
  width: 100%;
}


.section {
  text-align: center;
  width: 100%; 
  margin:80px ; 
  padding: 120px 0; 
  min-height: 200px; 
  margin-bottom: 100px;
}

.section-section3-light{
  margin-top: 80px;
  text-align: center;
  flex-direction: row;
}

.section-section-light{
  margin-top: 80px;
  text-align: center;
}

.first-section {
  background: linear-gradient(135deg, rgba(249, 218, 120, 0.8) 0%, rgba(245, 245, 245, 0.8) 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 120px 0;  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  text-align: auto;
  position: relative;
  margin: 100px
  
}

.first-section-logo {
  position: absolute;
  left: -10px; /* Adjust this value to move the logo more or less to the left */
  top: -5%; /* Adjust vertical alignment of the logo */
  max-width: 400px; /* Increase logo size */
}

.first-section-title {
  font-size: 2.5rem; /* Adjust font size */
  margin-bottom: 10px; /* Reduce the space below the title */
  margin-top: 80px; /* Move the title up by reducing top margin */
  margin-right: 50px; /* Adjust to position the title */
}

.first-section-button {
  background-color: #f9db78 !important;
  color: #000;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  margin-right: 50px; /* Align button to the right */
  margin-top: 20px; /* Increase the top margin to move the button down */
  font-size: 1.2rem; /* Adjust font size */
}


.first-section-button:hover {
  background-color: #f9db78; /* Darker yellow */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}


.firstsec {
  background: linear-gradient(135deg, rgba(249, 218, 120, 0.8) 0%, rgba(245, 245, 245, 0.8) 100%); /* Gradient from yellow to cream */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 120px 0; /* Adjust padding for height */
  padding-left: 0;
  padding-right: 0;
  text-align: right; /* Align text to the right */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; /* Align content to the right */
}

.firstsec img {
  max-width: 150px; /* Adjust logo size */
  margin: 0 auto 20px 0; /* Adjust margin to position the logo */
  align-self: center;
}

.firstsec h3 {
  font-weight: bold;
  font-size: 2.5rem; /* Adjust the font size to match the image */
  margin-bottom: 30px;
}

.button-primary {
  background-color: #f9db78 !important;
  color: #000;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  margin-top: 20px;
  font-size: 1.2rem; /* Adjust font size to match the image */
  margin-left: 0;
  margin-right: 50px; /* Adjust right margin for positioning */
}


.section-plain {
  background-color: rgba(255, 255, 255, 0.8); /* Light transparent background */
}

.section-light {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-left: 0;
  padding-right: 0;
}

.section-cream {
  background-color: rgba(245, 245, 245, 0.8); /* Light cream background */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-left: 0;
  padding-right: 0;
}

.section-yellow {
  background: linear-gradient(135deg, rgba(249, 218, 120, 0.8) 0%, rgba(245, 245, 245, 0.8) 100%); /* Gradient from yellow to cream */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 120px 0; /* Increase padding */
  min-height: 300px; /* Ensure the section has a minimum height */
  padding-left: 0;
  padding-right: 0;
  margin-top: 150px;
  margin-bottom: 100px;
}



.button-primary:hover {
  background-color: #f9db78; /* Darker yellow */
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5);
}

.icon-large {
  font-size: 50px;
  margin-bottom: 10px;
  color: #D4A373; /* Consistent Icon Color */
}

.slider-3d .slick-list {
  overflow: visible;
}

.slider-3d .slick-slide {
  transition: transform 0.5s ease-in-out;
  transform-origin: center center;
  opacity: 0.5;
  perspective: 1000px;

}

.slider-3d .slick-center {
  transform: scale(1.2) translateZ(100px);
  opacity: 1;
  
}

.slider-3d .slick-prev,
.slider-3d .slick-next {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #fff;
  border-radius: 50%;
  width: 40px;
  
  height: 40px;
}


.slider-3d .slick-prev {
  left: -50px;
  
}

.slider-3d .slick-next {
  right: -50px;
  
}

.counter-box {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 0 5%; /* Make the counters closer together */
}

.counter-box div {
  flex: 1;
  padding: 0 10px; /* Adjust padding to bring counters closer */
}


