.App{
  width: 100%;
}




.animated-section, .animated-card, .animated-image {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.animated-section.visible, .animated-card.visible, .animated-image.visible {
  opacity: 1;
  transform: translateY(0);
}

.section {
  text-align: center;
  width: 100%; 
  margin:80px ; 
  padding: 120px 0; 
  min-height: 200px; 
  margin-bottom: 100px;
  font-family: 'Assistant', sans-serif;
}

.section-section3-light{
  margin-top: 80px;
  text-align: center;
  flex-direction: row;
  font-family: 'Assistant', sans-serif;
}

.section-section-light{
  margin-top: 80px;
  text-align: center;
  font-family: 'Assistant', sans-serif;
}

.first-section {
  background: linear-gradient(135deg, rgba(249, 218, 120, 0.8) 0%, rgba(245, 245, 245, 0.8) 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 120px 0;  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end; 
  text-align: auto;
  position: relative;
  margin: 100px;
  font-family: 'Assistant', sans-serif;
  
}

.first-section-logo {
  position: absolute;
  left: -10px; 
  top: -5%; 
  max-width: 400px; 
}

.first-section-title {
  font-size: 2.5rem; 
  margin-bottom: 10px; 
  margin-top: 80px; 
  margin-right: 50px; 
  font-family: 'Assistant', sans-serif;
}

.first-section-button {
  background-color: #f9db78 !important;
  color: #000;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  margin-right: 50px; 
  margin-top: 70px !important;
  font-size: 1.2rem; 
  
}


.animated-image {
  transition: transform 0.3s ease-in-out;
  animation: pulse 2s infinite;

}

.animated-image:hover {
  transform: scale(1.1);

}

.first-section-button-2 {
  background-color: #f9db7836 !important;
  color: #000;
  font-weight: bold;
  padding: 15px 30px !important;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
  margin-right: 50px; 
  margin-top: 60px !important;
  font-size: 1.2rem; 
  font-family: 'Assistant', sans-serif!important;
}


.first-section-button:hover {
  background-color: #fbfbfb !important;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.5)!important;
}


.firstsec {
  background: linear-gradient(135deg, rgb(249, 230, 167) 0%, rgba(245, 237, 205, 0.891) 100%); 
  border-radius: 10px;
  padding: 120px 0; 
  padding-left: 0;
  padding-right: 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end; 
  font-family: 'Assistant', sans-serif!important;
}


.firstsec h3 {
  font-weight: bold;
  font-size: 2.5rem; 
  margin-bottom: 30px;
  font-family: 'Assistant', sans-serif!important;
}

.button-primary {
  background-color: #f9db78 !important;
  color: #000;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease;
  margin-top: 20px;
  font-size: 1.2rem; 
  margin-left: 0;
  margin-right: 50px; 
}


.section-plain {
  background-color: rgba(255, 255, 255, 0.8); /* Light transparent background */
}

.section-light {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-left: 0;
  padding-right: 0;
}

.section-cream {
  background-color: rgba(245, 245, 245, 0.8); /* Light cream background */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding-left: 0;
  padding-right: 0;
}

.section-section-yellow {
  margin-bottom: 50px;
  background: linear-gradient(135deg, rgba(249, 228, 164, 0.8) 0%, rgba(245, 245, 245, 0.8) 100%); /* Gradient from yellow to cream */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  min-height: 300px; 
  margin-top: 150px;
  text-align: center !important;
}

.section-counters {
  margin-bottom: 50px;
  border-radius: 10px;
  min-height: 300px; 
  margin-top: 150px;
  text-align: center !important;
}





.slider-3d .slick-list {
  overflow: visible;
}

.slider-3d .slick-slide {
  transition: transform 0.5s ease-in-out;
  transform-origin: center center;
  opacity: 0.5;
  perspective: 1000px;
}

.slider-3d .slick-center {
  transform: scale(1.2) translateZ(100px);
  opacity: 1;
  
}

.slider-3d .slick-prev,
.slider-3d .slick-next {
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background-color: #ffffff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}


.slider-3d .slick-prev {
  left: -50px;
  
}

.slider-3d .slick-next {
  right: -50px;
  
}

.img-gif {
  background: linear-gradient(135deg, rgba(249, 218, 120, 0.8) 0%, rgba(245, 245, 245, 0.8) 100%);
  width: 50px; /* or your desired size */
  height: 50px; /* or your desired size */
}

.hover-effect {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  cursor: pointer;
}

.hover-effect:hover {
  transform: scale(1.05); /* Slightly enlarges the element */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Adds a shadow for a 3D effect */
}


.counter-box {
  display: flex;
  justify-content: space-between;
  text-align: center !important;
  margin-top: 70px;
  padding: 0 20%; /* Adjust to increase the space between counters */
}

.counter-box div {
  text-align: center !important;
  flex: 1;
  padding: 0 20px; /* Increased padding for more space between counters */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-box div .MuiTypography-root {
  white-space: nowrap; /* Ensure text remains on one line */
  display: flex;
  align-items: center;
  justify-content: center;
}