
.container {
  margin-top:10px;
  padding: 0px;
}

.data-table {
  width: 100%;
}

.data-title {
  font-weight: bold;
  margin-bottom: 20px;
}

.data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.data-section {
  margin-bottom: 20px;
}

.rtl-table-col {
  font-weight: bold;
  direction: rtl;
  text-align: right;
  padding: 30px;
  background-color:#d2d0cb;
  font-family: 'Assistant', sans-serif;
} 
.rtl-table {
  direction: rtl;
  text-align: right;
  font-family: 'Assistant', sans-serif;
}

.table-head {
  background-color: gray;
}

.table-bordered {
  border-collapse: collapse;
  border: 1px solid rgb(130, 128, 128);
}

.typography-title {
  color: black;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
  font-family: 'Assistant', sans-serif;
}

.csv-link {
  background-color: #28a745; 
  color: white;
  padding: 10px 10px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 15px;
  font-weight: bold;
  font-family: 'Assistant', sans-serif;
  text-align: center;
  margin-right: 650px;
  white-space: nowrap;
}

.csv-link:hover {
  background-color: hsl(110, 62%, 44%);
  color: white;
}