.body{
  background-color: #ffff;
}


.navLink {
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Arimo, Open Sans, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 20px; 
  white-space: nowrap;
  font-size: 1.2rem;
  font-family: 'Assistant', sans-serif;;
}

.logo-image{
  width: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
  left: 0 !important;
  float: left !important;
}

.logo{
  width: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 75rem;
}



.navLinkMainpage{
  display: flex;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Arimo, Open Sans, sans-serif;;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 20px; 
  white-space: nowrap;
  font-size: 1.2rem;

}


.navbar-container {
  display: flex;
  height: 25px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home-icon {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .navLink {
      flex-direction: column;
      align-items: flex-end;
  }
  
  .logo {
      width: 150px;
  }

  .home-icon {
      margin-right: 0;
      margin-top: 10px;
  }
}