.navLink {
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 20px; 
  white-space: nowrap;
  font-size: 1.2rem;
}

.logo {
  width: 250px;
  height: auto;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home-icon {
  margin-right: 20px;
}

@media (max-width: 768px) {
  .navLink {
      flex-direction: column;
      align-items: flex-end;
  }
  
  .logo {
      width: 150px;
  }

  .home-icon {
      margin-right: 0;
      margin-top: 10px;
  }
}