/* General Styles */
body {
  background-color: #ffff;
}

.navbar-container1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  position: relative; /* Ensure the logo is fixed relative to the navbar container */
}

.navLink1 {
  margin-right: 20px;
  color: black;
  font-family: 'Assistant', -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Arimo, Open Sans, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 20px;
  white-space: nowrap;
  font-size: 1.2rem;
}

.logo-image {
  width: 130px;
  margin: 10px 0;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 430px; /* Move social media icons closer to nav links */
}

.social-media img {
  width: 24px;
  height: 24px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar-container1 {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .navLink1 {
    flex-direction: column;
    align-items: flex-start;
    display: none; /* Hide menu by default on mobile */
  }

  .navLink1.open {
    display: flex; /* Show menu when open class is added */
  }

  .logo-image {
    width: 100px;
    position: fixed;
    top: 15px;
    right: 10px;
    z-index: 1000;
  }

  .navbar-toggler1 {
    display: block; /* Ensure hamburger menu is visible */
    margin-left: auto; /* Align hamburger menu to the right */
    border: none;
    background: none;
    font-size: 1.5rem;
    padding: 10px;
    z-index: 1100; /* Ensure it stays above other elements */
  }

  .navbar-brand {
    order: 1;
    margin-left: auto;
  }

  .navLink1 span {
    display: none; /* Hide separators */
  }

  .social-media {
    padding-left: 0; /* Align social media icons correctly */
    margin-top: 10px; /* Add space above icons */
    order: -1; /* Move social media to the top */
    width: 100%; /* Make social media icons take full width */
    display: flex; /* Ensure display is flex for proper alignment */
    justify-content: flex-start; /* Align icons to the left */
  }

  .navbar-toggler-icon1 {
    color: black; /* Set icon color for visibility */
  }
}