.body{
  background-color: #ffff;
}


.navLink {
  margin-right: 20px;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Arimo, Open Sans, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 20px; 
  white-space: nowrap;
  font-size: 1.2rem;
  font-family: 'Assistant', sans-serif;
}

.logo-image {
  width: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Navbar container adjustments */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .navLink {
    flex-direction: column;
    align-items: flex-start; /* Align links to the left */
  }
  
  
  .navbar-container {
    justify-content: space-between;
    margin-bottom: 3px;
  }
  .navLink span {
    display: none; /* Hide the separator on small screens */
  }

  .logo-image {
    width: 100px;
    position: fixed; /* Fix the logo at the top */
    top:15px; /* Adjust the value to your needs */
    margin-right: 10px;
    right:0; /* Keeps it aligned to the left */
    z-index: 1000; /* Ensures the logo stays on top */
  }

  .navbar-toggler {
    margin-right: 10px; /* Ensure the toggle button is on the right */
  }

  .navbar-brand {
    order: 1;
    margin-left: auto;
  }
}


.navLinkMainpage{
  display: flex;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, Arimo, Open Sans, sans-serif;;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 20px; 
  white-space: nowrap;
  font-size: 1.2rem;

}


.navbar-container {
  display: flex;
  height: 25px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.home-icon {
  margin-right: 20px;
}


  
  .logo {
      width: 150px;
  }

  .home-icon {
      margin-right: 0;
      margin-top: 10px;
  }
