@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', Arial, sans-serif;
    background-color: #f8f9fa;
    direction: rtl;
    height: 100%;
}

.new-live-donation-container {
    max-width: none;
    width: 100%;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.donation-form {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}

.form-section {
    flex: 0 0 auto;
    width: 300px;
    padding: 0 10px;
}

.new-live-donation-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 700;
    color: #333;
    font-family: 'Rubik', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 15px;
}

.new-live-donation-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    border-radius: 2px;
}

.img-preview {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 8px;
    margin-top: 10px;
  }

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.error-title {
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin-bottom: 20px;
}