.show-more-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.show-more {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s, transform 0.3s;
}

.show-more:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.show-more:active {
  background-color: #004494;
  transform: scale(1);
}

.donations-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.donation-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  width: calc(100% / 4 - 40px); /* Adjust this value to control the number of cards per row */
  box-sizing: border-box;
  transition: transform 0.3s;
}

.donation-card img {
  max-width: 100%;
  border-radius: 10px;
}

.donation-card h5 {
  margin-top: 10px;
}

.donation-card p {
  margin: 5px 0;
}

.donation-card:hover {
  transform: translateY(-5px);
}


.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  direction: rtl;
}

.tabs button {
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.tabs button.active {
  background-color: #007bff;
  color: white;
  transform: scale(1.05);
}

.tabs button:hover {
  background-color: #0056b3;
  color: white;
  transform: scale(1.05);
}