/* body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f0f2f5;
    direction: rtl;
}

.registration-container {
    max-width: 1200px;
    margin: 100px auto;
    padding: 80px;
    background-color: #f7f7f7;
    border-radius: 16px;
    border: 1px solid #ddd;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.15);
}

.registration-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 700;
    color: #333;
    font-family: 'Google Font Name', sans-serif;
}

.form-group {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.form-control {
    width: 100%;
    padding: 18px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 20px;
    transition: border-color 0.3s ease;
    background-color: #f7f7f7;
    font-family: 'Google Font Name', sans-serif;
}

.form-control:focus {
    border-color: #F9DA78;
    box-shadow: 0 0 0 4px rgba(255, 204, 0, 0.3);
    outline: none;
}

.submit-button {
    width: 100%;
    background-color: #F9DA78;
    color: #333;
    border: none;
    padding: 18px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    margin-top: 40px;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color:#F9DA78;
}

.error-message {
    font-size: 18px;
    padding: 10px;
    margin-top: 20px;
    color: #ff0000;
}

.google-login {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.preview-image {
    max-width: 200px;
    margin-top: 10px;
}

.upload-button {
    background-color:#F9DA78;
    color: #333;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
 */

 .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    direction: rtl;
 }
