.statistics-page {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: Arial, sans-serif;
  direction: rtl; /* RTL support */
}

.charts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.chart {
  flex: 1;
  min-width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.chart h3 {
  text-align: center;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .chart {
    min-width: 100%;
  }
}
