/* General styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}
.upload-product-title{
    margin-top: 20px;
    padding-bottom: 5px;
    color: black;
}


.upload-product-body {
    /* padding: 20px; */
    flex-grow: 1;
     width: 100%; 
    border-radius: 10px;
}

.upload-product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.upload-product-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.profile-image {
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 10px;
}

.upload-product-card {
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.upload-product-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.form-control {
    width: 100%;
    border: 1px solid black !important;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 10px;
}

.form-control:focus {
    border-color: black !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25) !important;
}

.form-control.is-invalid {
    border-color: black !important;
    background-image: none !important;
}

.invalid-feedback {
    color: #dc3545;
    font-size: 0.875em;
    margin-top: -5px;
    margin-bottom: 10px;
}

.submit-button {
    width: 100%;
    margin-top: 20px;
}

.image-upload-button{
    margin-bottom: 100px;
    display: flex;
    margin-right: -60px;
}

.submit-button:hover,
.image-upload-button:hover,
.login-button:hover {
    background-color: #ffffff;
}

/* Error container for login check */
.error-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Adjust this value if needed to fit your navbar and footer */
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

/* Error title */
.error-title {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

/* Alert styling */
.alert {
    margin-bottom: 15px;
    width: 100%;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .upload-product-container {
        padding: 10px;
    }

    .upload-product-card {
        width: 95%;
        border-radius: 0;
    }

    .upload-product-body {
        padding: 15px;
    }
}
