html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background: rgb(169,169,169);
  background: linear-gradient(90deg, rgba(169,169,169,1) 5%, rgba(249,218,120,1) 62%, rgba(245,245,245,1) 100%);
  overflow-y: auto;
}

.scrollable-container {
  height: 100vh; /* Ensure the container takes full viewport height */
  overflow-y: auto; /* Enable vertical scrolling */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  overflow-y: auto;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  padding: 20px;
  padding-bottom: 100px; /* Increase this value to ensure content doesn't hide behind the footer */
}

.container {
  margin-top: 20px;
}

.btn {
  margin: 5px;
}