/* html, body, #root {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-attachment: fixed; 
  overflow-y: auto;
}

.scrollable-container {
  height: 100vh; 
  overflow-y: auto; 
}


.main-content {

  width: 100%;
}
 */
